<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bupt.sse.nmp.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="cn.bupt.sse.nmp.entity.Role">
    <constructor>
      <arg column="roleId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roleName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="cn.bupt.sse.nmp.entity.Role">
    insert into role (roleId, roleName, description,type
      )
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.bupt.sse.nmp.entity.Role">
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        roleId,
      </if>
      <if test="roleName != null">
        roleName,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByUserPhone" parameterType="java.lang.String" resultType="Role">
    select role.roleId, role.roleName, role.description, role.type
    from role join
    (user join user_role on user.userId = user_role.userId)
    on role.roleId = user_role.roleId
    where user.phone = #{phone, jdbcType=VARCHAR}
  </select>

  <update id="updateRole" parameterType="Role">
    update role
    <trim prefix="set" suffixOverrides=",">
      <if test="roleName!=null">roleName=#{roleName},</if>
      <if test="description!=null">description=#{description},</if>
      <if test="type!=null">type=#{type},</if>
    </trim>
    WHERE roleId=#{roleId}
  </update>
  <delete id="delRoleById" parameterType="java.lang.Integer">
    delete from role where roleId = #{roleId}
  </delete>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from role
  </select>

  <select id="selectTypeByUserId" resultType="java.lang.String" parameterType="java.lang.Integer">
      select type from user, user_role, role where user .userId = user_role.userId and role.roleId = user_role.roleId and user.userId = #{roleId}
  </select>
</mapper>